<%- include('../../components/top.ejs') %>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Role Permissions:</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Permission Name</th>
              <th>Guard</th>
              <th style="width: 40px">Label</th>
            </tr>
          </thead>
          <tbody>
            <% for(let permission of locals.role.permissions){ %>
            <tr>
              <td><%= permission.id %>.</td>
              <td><%= permission.name %></td>
              <td>
                <%= permission.guard %>
              </td>
              <td>
                <form action="/cms/authorization/role/revoke-permission" method="POST">
                  <input type="hidden" name="roleId" value="<%= role.id %>">
                  <input type="hidden" name="permissionId" value="<%= permission.id %>">
                  <button type="submit" class="btn btn-block bg-gradient-danger m-0">Delete</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item"><a class="page-link" href="#">«</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>

      </div>
    </div>
    <!-- /.card -->

  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Available Permissions:</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Permission Name</th>
              <th>Guard</th>
              <th style="width: 40px">Label</th>
            </tr>
          </thead>
          <tbody>
            <% for(let permission of locals.availablePermissions){ %>
            <tr>
              <td><%= permission.id %>.</td>
              <td><%= permission.name %></td>
              <td>
                <%= permission.guard %>
              </td>
              <td>
                <form action="/cms/authorization/role/assign-permission" method="POST">
                  <input type="hidden" name="roleId" value="<%= role.id %>">
                  <input type="hidden" name="permissionId" value="<%= permission.id %>">
                  <button type="submit" class="btn btn-block bg-gradient-primary">Add</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item"><a class="page-link" href="#">«</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>

      </div>
    </div>
    <!-- /.card -->

  </div>

<%- include('../../components/buttom.ejs') %>